name: Run Gradle on PRs
on:
  pull_request:
  push:
  workflow_dispatch:
jobs:
  gradle:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.2
    - uses: actions/setup-java@v5.1.0
      with:
        distribution: 'temurin'
        java-version: '21'
    - uses: antoniovazquezblanco/setup-ghidra@v2.0.18
      with:
        auth_token: ${{ secrets.GITHUB_TOKEN }}
        version: 11.4.2
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        gradle-version: "8.10" 
    - name: Execute Gradle build
      run: gradle -PGHIDRA_INSTALL_DIR=${{ env.GHIDRA_INSTALL_DIR }} buildExtension
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          ./dist/GameCubeLoader-*.zip
